<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257978860729-tg727ku4n0r6obd1b0u93ofj22ml2120.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257978860729-tg727ku4n0r6obd1b0u93ofj22ml2120</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>257978860729-h9i3ishb31gtmkh5fp8ckhdjss354435.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGV-HQEgyBZxRilD-3IftsEUbQ72CWMt0</string>
	<key>GCM_SENDER_ID</key>
	<string>257978860729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.esthersoftware.estherMathApp</string>
	<key>PROJECT_ID</key>
	<string>khoatrancodingminds</string>
	<key>STORAGE_BUCKET</key>
	<string>khoatrancodingminds.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257978860729:ios:460febc2a52ae2baa38768</string>
	<key>DATABASE_URL</key>
	<string>https://khoatrancodingminds-default-rtdb.firebaseio.com</string>
</dict>
</plist>